.m-button {
    -fx-background-color: white;
    -fx-text-fill: #333333;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: 500;
    -fx-font-size: 16px;
    -fx-padding: 4 20;
}

.m-button:hover {
    -fx-text-fill: #00AEEF;
}

.m-button-title {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-size: 22px;
    -fx-font-weight: 500;
}

.m-button-title:hover {
    -fx-text-fill: #00AEEF;
}